body{

	background: #E0E0E0 ;
	padding: 10px;
	padding-left: 250px;
	background-image: url("pesos.png");
	width: 300px;


}

h3{

	background: #B1FE00 ;
	padding: 10px;
	border: 200px;
	letter-spacing: 1px;

}

input{
	
	background: #F8FEA3;
	padding: 10px;

}

p1

{

background: #fff;
}

p2

{

background: #000;
}

canvas 

{
background: #fff;
	
}